body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#title {
    text-align: center;
}

#sub-title {
    color: #333;
    text-align: center;
}