html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

#img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#pages {
    display: flex;
    flex-direction: column;
}
#pages-text {
    border: 4px solid white;
    border-radius: 100px;
    width: 100px;
    margin: 20px auto;
    background-color: white;
    color: black;
}

#sub-title {
    text-align: center;
    color: #888;
}